html {
    scroll-behavior: smooth ;}

body {
    background: #f1dfb6;
    margin: 0;
    font-family: Georgia, Arial, Helvetica, sans-serif;
}
.icons a img {cursor: pointer; }
.topo { background-color: #fdf3dd; display: flex; align-items: center;justify-content: center; gap: 40px; padding: 5px 50px; position: fixed; width: 100%; z-index: 1000;} .logo { width: 100px ;} nav {display: flex ;gap: 70px ;} nav a { text-decoration: none ;color: #481c11 ;font-size: 20px;font-weight: normal;} nav a:hover {color: #f36f40; ;}

.icones {display: flex ;gap: 10px ;}

.icone-img {width: 36px ;height: 36px ;cursor: pointer ;transition: 0.3s ;}
.icone-img:hover {transform: scale(1.1) ;}

.pedidos {
    background: #f1dfb6; display: flex; flex-direction: row; justify-content: center;
    gap: 180px; padding: 150px 50px}

.produtos {
    display: flex; flex-direction: column; gap: 25px;}

.pedido-card {
    width: 550px; min-height: 60px; border-radius: 30px; display: flex; justify-content: space-between;
    align-items: center; padding: 15px 20px; color: #4b1d10;}

.pedido-card img {
    width: 50px; height: 50px; border-radius: 15px; object-fit: contain;}

.pedido-card .info {
    display: flex; align-items: center; gap: 15px; color: #4b1d10; font-size: 18px;}

.pedido-card p { margin: 0;}

.pedido-card span {
    font-weight: bold; display: block; margin-top: 5px;}

.controles {
    display: flex; align-items: center; gap: 10px;}

.btn {
    width: 28px; height: 28px; border-radius: 50%; background: #4b1d10; color: white;
    display: flex; justify-content: center; align-items: center; cursor: pointer;
    font-size: 20px;}

.quantidade {font-size: 18px;}

.resumo {
    display: flex; flex-direction: column; gap: 15px;}

.box {
    background: #fdf3dd; border-radius: 30px; border: 2px solid #481c11; padding: 40px;
    width: 380px; height: 180px;}

.box h2 {
    margin-top: 0; color: #7a4a2b; font-size: 25px;}

.linha {
    display: flex; justify-content:space-between; margin: 15px 0; font-size: 20px;
    color: #6a3d20;}

.total {
    border-top: 2px solid #999; padding-top: 15px; font-weight: bold;}

.obs textarea {
    width: 100%; height: 120px; border: 1px solid #888; resize: none; padding: 10px;
    font-size: 18px; font-family: Georgia; color: #6a3d20; background: #efefef;}

.botoes {
    display: flex; justify-content: space-between; gap: 40px;}

.cancelar, .confirmar {
    border: none; width: 170px; height: 60px; border-radius: 35px; 
    font-size: 20px; cursor: pointer; transition: 0.3s;}

.cancelar {
    background: white; color: red;}

.confirmar {
    background: #9a9448; color: white;}

.cancelar:hover,
.confirmar:hover{ transform: scale(1.05);}

.pao {
    background: #cb962e ;}

.carne {
    background: #884927 ;}

.login-container {
    width: 90%;
    max-width: 280px;
    padding: 20px 24px;
}