html {
    scroll-behavior: smooth; }

body {
    background-color: #fdf3dd;
     margin: 0; 
     font-family: Georgia, Arial, Helvetica, sans-serif; }

.icons a img {
    cursor: pointer; }

.topo {
    background-color: #fdf3dd;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 5px 50px;
    position: fixed;
    width: 100%; 
    z-index: 1000; }

.logo {
    width: 100px; }

.menu {
    display: flex; 
    gap: 70px; }


.menu a {
    text-decoration: none; 
    color: #481c11;
     font-size: 20px; }

.menu a:hover {
    color: #f36f40; }

.icons {
    display: flex; 
    gap: 10px; }

.icons img {
    width: 45px; }

section {
    min-height: 100vh;
     padding: 120px 40px 40px;
     display: flex;
     justify-content: center;
      align-items: center; 
      flex-direction:column; }

     
#promocoes {
    background-color: #f1dfb6; }

.proms {
    display: flex; gap: 26px;
     max-width: 1300px; 
     margin: 0 auto; }

.promocoes h3 {
    text-align: center; }

.promo-card {
    width: 220px; 
    padding: 15px;
    border-radius: 15px; 
    border: 2px solid #333; 
    position: relative;
    font-size: 18px;
    margin-top: -100px; }

.claro {
    background: #f3e7d3; }

.marrom {
    background: #8b4a20;
    color: white; }

.amarelo {
    background: #cb962e; }

.promo-card img {
    width: 80px; 
    display: block; 
    margin: 10px auto; }

.promo-card ul {
    padding-left: 20px; }

.preco-antigo {
    text-decoration: line-through; 
    font-weight: bold; 
    text-align: center; }

.preco-novo {
    color: #ff5a1f; 
    font-weight: bold; 
    text-align: center; 
    font-size: 18px; }

#cardapio {
    background-color: #f1dfb6; }

.cards {
    display: flex; 
    gap: 40px; }

.card {
    width: 200px; 
    height: 340px; 
    border-radius: 25px; 
    border: 3px solid black;
    display: flex; 
    flex-direction: column; 
    align-items:center; 
    padding: 28px; 
    margin-top: -100px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25); 
    transition: 0.3s; }

.card:hover {
    transform: scale(1.05); }

.card h3 {
    font-size: 18px; 
    font-weight: bold;
     text-decoration: underline; 
     color: white; }

.card1 {
    background: #8b4a20; }

.card2 {
    background: #c69a73; }

.card3 {
    background: #d6781e; }

.card4 {
    background: #6b1f00; }

.card img {
    width: 200px; 
    height: 200px; 
    object-fit: contain; }

.pao {
    background: #cb962e; }

.carne {
    background: #884927; }

.add {
    position: absolute; 
    bottom: 10px; 
    right: 5px; 
    background: black; 
    color: white;
     width: 25px; 
     height: 25px; 
     border-radius:50%; 
     display: flex; 
     justify-content: center;
      align-items: center; }

      .btn-voltar {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #8B4513;
    color: #fff;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    z-index: 9999;
}

.btn-voltar:hover {
    background: #A0522D;
}

