
.user-menu {
    position: relative; display: inline-block; cursor: pointer;
}
.user-menu img {
    width: 36px; height: 36px;transition: 0.3s;
}
.user-menu img:hover {
    transform: scale(1.1);
}
.user-dropdown {
    display: none; position: absolute; right: 0; top: 45px; background-color: #ffffff;
    min-width: 200px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1000;
    border-radius: 8px; border: 1px solid #ddd; overflow: hidden;
}
.user-dropdown a {
    color: #333; padding: 12px 16px; text-decoration: none; display: block;
    font-size: 14px; transition: 0.3s; border-bottom: 1px solid #eee;
}
.user-dropdown a:last-child {
    border-bottom: none;
}
.user-dropdown a:hover {
    background-color: #f36f40; color: white;
}
.user-menu:hover .user-dropdown {
    display: block;
}
.btn-delete {
    color: #d85b00 !important; font-weight: bold;
}
.btn-delete:hover {
    background-color: #ffcccc !important; color: #d85b00 !important;
}

#mensagem-alerta {
    position: fixed;  top: 20px; right: 20px;
    padding: 15px; border-radius: 5px; z-index: 2000; display: none;
}

.modal-excluir {
    display: none; position: fixed;z-index: 3000; left: 0; top: 0; width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.7); align-items: center; justify-content: center;
}
.modal-conteudo {
    background-color: #faeed4; padding: 30px;  border-radius: 15px;  border: 2px solid #7a4b2a;
    max-width: 400px; text-align: center; box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.modal-conteudo h2 {
    color: #d85b00;  margin-top: 0;
}
.modal-conteudo p {
    color: #481c11;  font-weight: bold; margin-bottom: 25px;
}
.botoes-modal {
    display: flex; justify-content: center; gap: 20px;
}
.btn-modal {
    padding: 10px 25px; border: none; border-radius: 5px; font-weight: bold; 
    cursor: pointer; transition: 0.3s;
}
.btn-confirmar {
    background-color: #d85b00; color: white;
}
.btn-confirmar:hover { background-color: #bf5000; }
.btn-cancelar {
    background-color: #7a4b2a; color: white;
}
.btn-cancelar:hover { background-color: #481c11; }

.login-container {
    width: 90%;
    max-width: 280px;
    padding: 20px 24px;
}